.App {
  text-align: center;
}


.App {
  background-color: hsl(0, 0%, 99%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
